header {
  background-color: rgb(207, 214, 214);
  color: rgb(49, 47, 34);
  border-bottom: 2px solid rgb(49, 47, 34);
}

body {
  background-color: rgb(226, 202, 171);
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.radio {
  display: none;
}

p {
  background-color: gold;
  width: 70px;
  height: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

p:hover {
  border: 1px solid black;
  cursor: pointer;
}

input[type='radio']:checked + p {
  background-color: blue;
}

.table {
  display: flex;
  justify-content: left;
}

.url {
  width: 80%;
}

.controlform {
  display: flex;
  flex-direction: column;
  justify-content: left;
  grid-area: main;
  margin-left: 5px;
}

.submitbutton {
  width: 60px;
  height: 40px;
  align-self: left;
  border-radius: 10px;
}

.jsonbox {
  height: 200px;
  margin-top: 10px;
  width: 80%;
  text-align: start;
  display: flex;
  flex-direction: row;
}

.gridcontainer {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'sidebar main main main main'
    'sidebar display display display display';
  /* 'menu footer footer footer' */
}

.siteHeader {
  grid-area: header;
}

.display {
  grid-area: display;
  margin-top: 20px;
  background: honeydew;
  width: 80%;
  margin-left: 5px;
}

.sidebar {
  grid-area: sidebar;
}
